<!DOCTYPE html>
<head>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <link href="/static/css/bootstrap3.3.0.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap4.0.0.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap3.4.0.min.css">

    <meta charset="UTF-8">
    <title>Deadline API</title>
</head>
<body>
    <div class="container alert-secondary" align="center">
        <div>
            <div >
                <!-- Form -->
                <br><br><br>
                <form align="center">
                    <div >
                        <div >
                            <div>
                                <img src="{{url_for('static', filename='img/deadline.png')}}" />
                            </div>
                            <br><br>
                            <div >
                                <p>Escolha abaixo quais informações você quer visualizar:</p>
                                <br>
                            </div>
                            <div align="center">
                                <div class="btn-group">
                                  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    JSON DATA
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" target="_blank" href="/deadline/mongodb">MONGO DB</a>
                                    <a class="dropdown-item" target="_blank" href="/deadline/jobs">JOBS</a>
                                    <a class="dropdown-item" target="_blank" href="/deadline/slaves">SLAVES</a>
                                    <a class="dropdown-item" target="_blank" href="/deadline/pulses">PULSES</a>
                                    <a class="dropdown-item" target="_blank" href="/deadline/licensesForwarders">LICENSES FORWARDERS</a>
                                  </div>
                                </div>
                            </div>
                </form>
                <br>
                <div>
                	<p>Suporte Plataformas
                        <br>Copyright © 2019<br>
                        <br>Portal DTPS
                        <br><a href="https://tvglobocorp.sharepoint.com/sites/Portal-DTPS" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#0a9444">https://tvglobocorp.sharepoint.com/sites/Portal-DTPS</a>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>